<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breadcrumb</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->




<!-- Breadcrumb - component -->
<ul class="flex text-gray-800">
  <li class="flex items-center">
    <a href="#" class="hover:underline">Home</a> 
    <span>
      <svg  class="w-4 h-4 mx-2 stroke-current text-gray-700" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M9 5l7 7-7 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </span>
  </li>
  <li class="font-medium text-gray-900 cursor-default">Header components</li>
</ul>
<!-- End - Breadcrumb component -->



<!-- ============================================================================= -->
</body>
</html>
