<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button rounded full</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->



<!-- Button rounded full - component -->
<a href="#" class="inline-flex text-indigo-800 bg-indigo-200 hover:bg-indigo-300 text-lg font-medium rounded-full flex-shrink-0 py-2 px-4">Contribute</a>
<!-- End - button rounded full - component -->

  

<!-- ============================================================================= -->
</body>
</html>
