<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button rounded full</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->
<div class="max-w-6xl mx-auto mx-6">



<!-- Card - component -->
<div class="rounded-lg overflow-hidden text-gray-700 mt-20 shadow">
  <div class="flex flex-wrap justify-between p-5 sm:p-6 border-b rounded-lg shadow-sm">
    <h3 class="font-medium pr-3">Hero with image on the right</h3>
    <div>
      <a href="#" class="flex items-center hover:underline font-medium">
        Codepen
        <span><svg class="w-5 h-5 ml-2" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M10 6H6L4 8v10l2 2h10l2-2v-4M14 4h6m0 0v6m0-6L10 14" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </span> 
      </a>
    </div>
  </div>

  <div class="bg-gray-100 p-64">
    Delete padding on the wrapper before adding component code here
  </div>

</div>
<!-- End - Card component -->



</div>
<!-- ============================================================================= -->



