<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->



<!-- Card - component -->
<!-- Add just card width to change number of card/row - default is 3 -->
<div class="w-full sm:w-1/2 lg:w-1/3 px-3 pb-6">
  <a href="#">
    <figure class="relative bg-white rounded-lg transition-shadow ease-out duration-200 shadow hover:shadow-md">
      <img src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/Components%20thumbnails/elements-headers.svg?sanitize=true" alt="w-280 x h-140" class="w-full rounded-lg shadow-xs">
      <figcaption class="flex justify-between items-center p-4">
        <p>Navigation</p>
        <p class="bg-gray-200 py-px px-4 text-xs rounded-full">1</p>
      </caption>
      <!-- Whiten hover effect -->
      <div class="absolute bg-white rounded-lg inset-0 opacity-0 transition-opacity duration-150 ease-out hover:opacity-25"></div>
    </figure>
  </a>
</div>
<!-- End - card component -->


  

<!-- ============================================================================= -->
</body>
</html>