<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Timer</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body class="bg-gray-100">
<!-- ============================================================================= -->






<!-- Tab Content -->
<div class="mt-8 max-w-6xl mx-auto">
  <form action="#" id="setting" class="md:flex flex-1">
    <!-- Left Side -->
    <div class="md:w-5/12 bg-white p-10 shadow" style="border-radius: 19px;">
      <h5 class="text-lg font-medium text-gray-800 border-b pb-3">Custom timer</h5>

      <!-- Input - component -->
      <div class="mt-10 mb-8">
        <label class="font-medium text-gray-700 ml-1" for="setting-focus">Focus duration</label>
        <div class="border mt-2 rounded-lg p-2 flex justify-between">
          <input class="w-full p-2 focus:outline-none font-medium text-gray-800" type="number" name="setting-focus" id="setting-focus" value="25" min="1" max="60">
          <span class="p-2 text-gray-600">Minutes</span>
        </div>
      </div>
      <!-- End - Input Component -->

      <!-- Input - component -->
      <div class="my-8">
        <label class="font-medium text-gray-700 ml-1" for="setting-break">Short break duration</label>
        <div class="border mt-2 rounded-lg p-2 flex justify-between">
          <input class="w-full p-2 focus:outline-none font-medium text-gray-800" type="number" name="setting-break" id="setting-break" value="5" min="1" max="60">
          <span class="p-2 text-gray-600">Minutes</span>
        </div>
      </div>
      <!-- End - Input Component -->

      <!-- Input - component -->
      <div class="my-8">
        <label class="font-medium text-gray-700 ml-1" for="setting-longBreak">Long break duration</label>
        <div class="border mt-2 rounded-lg p-2 flex justify-between">
          <input class="w-full p-2 focus:outline-none font-medium text-gray-800" type="number" name="setting-longBreak" id="setting-longBreak" value="30" min="1" max="60">
          <span class="p-2 text-gray-600">Minutes</span>
        </div>
      </div>
      <!-- End - Input Component -->

      <!-- Input - component -->
      <div class="mt-8 mb-2">
        <label class="font-medium text-gray-700 ml-1" for="setting-loop">Take a long break every</label>
        <div class="border mt-2 rounded-lg p-2 flex justify-start relative">
          <input class="w-12 p-2 focus:outline-none font-medium text-gray-800" type="number" name="setting-loop" id="setting-loop" value="4" min="1" max="20">
          <span class="p-2 absolute scale-y-50 ml-8 font-medium text-gray-600">th Break</span>
        </div>
      </div>
      <!-- End - Input Component -->

    </div>
    




    <!-- Right Side -->
    <div class="md:w-7/12 md:ml-8 mt-8 sm:mt-16 md:mt-0 bg-white p-10 shadow" style="border-radius: 19px;">
      <h5 class="text-lg font-medium text-gray-800 border-b pb-3">General Settings</h5>

      <h6 class="mt-10 mb-2 font-medium text-gray-700">Alarm sounds</h6>
      <!-- Row -->
      <div class="flex">

        <!-- Radio - Component -->
        <div class="flex-1 mr-4 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
          <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-alarm-ring">&nbsp;</label>
          <p class="font-medium">Ring</p>
          <input type="radio" name="alarms" id="setting-alarm-ring" value="setting-alarm-ring">
        </div>
        <!-- End - Radio Component -->

        <!-- Radio - Component -->
        <div class="flex-1 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
          <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-alarm-2">&nbsp;</label>
          <p class="font-medium">Birds</p>
          <input type="radio" name="alarms" id="setting-alarm-2" value="setting-alarm-2">       
        </div>
        <!-- End - Radio Component -->

      </div>
      <!-- Row -->
      <div class="flex mt-4">

        <!-- Radio - Component -->
        <div class="flex-1 mr-4 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
          <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-alarm-3">&nbsp;</label>
          <p class="font-medium">Wave</p>
          <input type="radio" name="alarms" id="setting-alarm-3" value="setting-alarm-3">       
        </div>
        <!-- End - Radio Component -->

        <!-- Radio - Component -->
        <div class="flex-1 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
          <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-alarm-4">&nbsp;</label>
          <p class="font-medium">Water</p>
          <input type="radio" name="alarms" id="setting-alarm-4" value="setting-alarm-4">       
        </div>
        <!-- End - Radio Component -->


        <!-- Select -->
        <!-- <select>
          <option value="alarm-ring">Ring</option>
          <option value="alarm-2">Chime</option>
        </select> -->
        <!-- Test sound button -->




      </div>
      <!-- End Alarm settings -->


        <!-- Toggles -->
        <h6 class="mt-10 mb-2 font-medium text-gray-700">Others</h6>
        <!-- Row -->

          <!-- Checkbox - Component -->
          <div class="flex-1 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
            <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-title">&nbsp;</label>
            <p class="font-medium">Display timer in the title</p>
            <input type="checkbox" name="setting-title" id="setting-title" checked>       
          </div>
          <!-- End - Checkbox Component -->

          <!-- Checkbox - Component -->
          <div class="flex-1 mt-4 shadow-xs p-6 py-4 cursor-pointer relative flex items-center justify-between rounded-lg">
            <label class="absolute inset-0 rounded-lg cursor-pointer" for="setting-notification">&nbsp;</label>
            <p class="font-medium">Sound notification</p>
            <input type="checkbox" name="setting-notification" id="setting-notification" checked>       
          </div>
          <!-- End - Checkbox Component -->    

      </div>
    </div>
  </form>

</div>
</div>






<!-- ============================================================================= -->
</body>
</html>