<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Timer</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->


<!-- Input - component -->
<div class="my-10 flex flex-col p-6 max-w-sm">
  <label class="font-medium text-gray-700 ml-1" for="setting-focus">Focus duration</label>
  <div class="border mt-2 rounded-lg p-2 flex justify-between">
    <input class="w-full p-2 focus:outline-none font-medium text-gray-800" type="number" name="setting-focus" id="setting-focus" value="25" min="1" max="60">
    <span class="p-2 text-gray-600">Minutes</span>
  </div>
</div>
<!-- End - Input Component -->




<!-- ============================================================================= -->
</body>
</html>