<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Timer</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->


<!-- Tab - component  -->
<div class="max-w-5xl mx-auto mt-24 p-6 flex justify-center sm:justify-start">
  <div class="inline-flex font-medium bg-white text-center border border-gray-200 text-gray-600" style="border-radius: .9rem">
    <a class="flex-1 px-16 py-4 transition-colors duration-200 text-gray-800 bg-gray-300 shadow-sm cursor-pointer" style="border-radius: .9rem">Settings</a>
    <a class="flex-1 px-16 py-4 transition-colors duration-200 hover:text-gray-800 cursor-pointer" style="border-radius: .9rem">History</a>
  </div>
</div>
<!-- End - Tab component  -->



<!-- ============================================================================= -->
</body>
</html>