<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Timer</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->




<!-- Block - component -->
<div id="js-block-background" class="md:mt-6 transition-colors duration-200 shadow-xl max-w-5xl mx-auto bg-red-200 p-px md:p-0 md:flex md:items-center" style="border-radius: 24px;">
  <!-- Illustration -->
  <div id="js-block-illustration" class="m-6 md:ml-2 lg:m-6 opacity-75" style="flex: 100;">
    <img class="my-px pt-px md:p-0 md:m-0" src="https://raw.githubusercontent.com/NLNT/Pomodoro-timer/master/img/focus-illustration.svg?sanitize=true" alt="Woman working illustration">
  </div>

  <!-- Right side -->
  <div class="shadow-xl self-stretch flex flex-col justify-between bg-white mt-3 md:mt-xs" style="flex: 90; margin: 7px; border-radius: 19px;">
    <!-- Timer -->
    <div class="flex flex-col flex-1 items-center p-6 mb-3">
      <h6 class="font-medium text-gray-700 sm:text-lg">Pomodoro Timer</h6>
      <h2 id="js-timer" class="text-6xl mt-4 md:mt-8 text-gray-900 font-bold leading-tight w-64 pl-1 -pr-px mx-auto" style="font-size: 5.35rem;">25:00</h2>
      
      <!-- Pause & Reset -->
      <div class="flex items-center font-medium mt-1 mr-2">
        <a id="js-start" class="flex font-semibold text-xl leading-tight items-center py-1 px-6 border-r fill-current transition-color duration-200 text-red-700 cursor-pointer hover:text-red-800"><span><svg class="w-6 h-6 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs/><path d="M16 10v28l22-14z"/></svg></span>Start</a>

        <a id="js-pause" class="flex text-lg items-center py-1 px-6 border-r fill-current transition-color duration-200 text-gray-600 cursor-pointer hover:text-gray-900 hidden"><span><svg class="w-6 h-6 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/></svg></span>Pause</a>
      
        <a id="js-reset" class="flex text-lg items-center py-1 px-6 fill-current transition-color duration-200 text-gray-600 cursor-pointer hover:text-gray-900"><span><svg class="w-6 h-6 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M12 5V1L7 6l5 5V7a6 6 0 11-6 6H4a8 8 0 108-8z"/></svg></span>Restart</a>
      </div>
      <!-- Start -->
    </div>

    <!-- Tabs -->
    <div class="flex font-semibold bg-gray-100 overflow-hidden text-center shadow-inset text-gray-600" style="border-radius: 19px;">
      <a id="js-focus-tab" class="flex-1 py-6 transition-colors duration-200 text-gray-800 bg-gray-300 shadow-sm cursor-pointer">Focus</a>
      <a id="js-break-tab" class="flex-1 py-6 transition-colors duration-200 hover:text-gray-800 cursor-pointer">Break</a>
      <a id="js-longbreak-tab" class="flex-1 py-6 transition-colors duration-200 hover:text-gray-800 cursor-pointer sm:flex-shrink-0">Long Break</a>
    </div>
  </div>
</div>
<!-- End - Block Component -->




<!-- ============================================================================= -->
</body>
</html>