<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTA section with text and button-rounded-full</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->



  <!-- CTA - component -->
  <section class="bg-indigo-600">
    <div class="max-w-6xl mx-auto p-6 py-8 pb-12 md:py-12 flex flex-col justify-between items-start md:flex-row md:items-center lg:pb-12">
      <div class="mb-6 mr-1 md:mb-0 lg:max-w-lg">
        <h2 class="text-white text-3xl font-medium mb-1">Help improve Mochi UI</h2>
        <h5 class="text-indigo-100 text-lg">Join us on github to help improve Mochi UI</h5>
      </div>
      <div class="flex">
        <a href="#" class="flex flex-shrink-0 text-indigo-800 bg-indigo-100 hover:bg-white text-xl font-medium rounded-full self-center py-2 px-4 sm:py-3 sm:px-6">Project's Github
          <span class="ml-2">
            <svg class="w-6 h-6 mt-1 stroke-current text-indigo-800" xmlns="http://www.w3.org/2000/svg"><path d="M17 8l4 4m0 0l-4 4m4-4H3" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
        </a>
      </div>
    </div>
  </section>
  <!-- End - CTA component -->

  

<!-- ============================================================================= -->
</body>
</html>