<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header with (breadcrumb & title)-left + CTA-right</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->




<!-- Header - component -->
<header class="bg-white">
  <div class="max-w-6xl mx-auto p-6">
    <div class="flex flex-wrap justify-between items-center">
      <!-- Left side -->
      <div>
        <!-- Breadcrumb - component -->
        <ul class="flex text-gray-800">
          <li class="flex items-center">
            <a href="#" class="hover:underline">Home</a> 
            <span>
              <svg  class="w-4 h-4 mx-2 stroke-current text-gray-700" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M9 5l7 7-7 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </span>
          </li>
          <li class="font-medium text-gray-900 cursor-default">Header components</li>
        </ul>
        <!-- End - Breadcrumb component -->
        <!-- Title -->
        <h5 class="text-2xl mt-1 text-gray-800 font-semibold">Header Components</h5>
      </div>
      
      <!-- Right side -->
      <!-- Button - component -->
      <div class="flex flex-shrink-0 mt-4 sm:mt-0">
        <a href="#" class="flex text-lg font-medium text-gray-700 bg-white rounded-full shadow hover:shadow-md transition-shadow duration-150 py-3 px-6 leading-tight">
          <span>
            <svg class="w-5 w-5 mr-2 stroke-current text-gray-700" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M12 4v16m8-8H4" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          Add
        </a>
      </div>
      <!-- End - Button component -->
      
    </div>
  </div>
</header>
<!-- End - Header component -->



<!-- ============================================================================= -->
</body>
</html>
