<!-- Hero - component -->
<section class="bg-indigo-100 shadow-sm relative z-10" style="border-radius: 0 0 0 4rem">
  <div class="max-w-6xl mx-auto p-6 pt-12 sm:pt-6 flex justify-between flex-col md:flex-row">
    <!-- Left side -->
    <div class="flex-1 md:self-center max-w-lg sm:max-w-xl lg:max-w-lg">
      <!-- Heading -->
        <h2 class="text-3xl text-indigo-900 leading-snug font-semibold sm:text-4xl md:text-2xl lg:text-4xl">Free UI component library built using <span class="text-indigo-700 hover:underline font-bold"><a href="https://tailwindcss.com/">Tailwind CSS</a></span> </h2>
      <!-- Paragraph -->

      <p class="mb-10 mt-6 text-lg text-indigo-900 leading-relaxed font-medium max-w-sm sm:max-w-md md:text-base lg:text-lg md:max-w-sm">Mochi UI gives you all the components you need to create stunning, responsive websites.</p>
      <!-- Buttons -->
      <div class="flex items-center">
        <a href="https://github.com/NLNT/Mochi-UI" class="flex text-indigo-800 bg-indigo-200 hover:bg-indigo-300 text-lg font-medium rounded-full self-center py-2 px-4">Project's Github</a>
        <span class="text-md text-indigo-900 hover:underline ml-3"><a href="https://github.com/NLNT/Mochi-UI/blob/master/LICENSE">MIT License</a></span>
      </div>
    </div>
    <!-- Right side -->
    <div class="flex-1 self-center mt-8 sm:mt-4 md:mt-0 lg:max-w-lg">
      <img src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/hero-illustration.svg?sanitize=true" alt="mochi component illustration">
    </div>
  </div>
</section>
<!-- End - hero component -->