<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Showcase with title and count badge</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->




  <!-- Showcase - component -->
  <!-- 3 columns - change width in cards to change number of card/row  -->
  <section>
    <div class="max-w-6xl mx-auto p-6 pb-12">
      <!-- Tittle - component -->
      <h5 class="text-xl text-gray-700 font-medium mt-12 mb-6 sm:text-2xl">Homepage Components</h5>

      <!-- cards container -->
      <div class="-mx-3 flex flex-wrap">

        <!-- Card - component -->
        <div class="w-full px-3 pb-6 sm:w-1/2 lg:w-1/3"> 
          <a href="#">
            <figure class="relative bg-white rounded-lg transition-shadow ease-out duration-200 shadow hover:shadow-md">
              <img src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/Components%20thumbnails/sections-heroes.svg?sanitize=true" alt="w-280 x h-140" class="w-full rounded-lg shadow-xs">
              <figcaption class="flex justify-between items-center p-4">
                <p class="font-medium text-gray-800">Hero</p>
                <p class="bg-gray-200 py-px px-4 text-xs rounded-full">1</p>
              </caption>
              <!-- Whiten hover effect -->
              <div class="absolute bg-white rounded-lg inset-0 opacity-0 transition-opacity duration-150 ease-out hover:opacity-25"></div>
            </figure>
          </a>
        </div>
        <!-- End - card component -->

        <!-- Card - component -->
        <div class="w-full px-3 pb-6 sm:w-1/2 lg:w-1/3">
          <a href="#">
            <figure class="relative bg-white rounded-lg transition-shadow ease-out duration-200 shadow hover:shadow-md">
              <img src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/Components%20thumbnails/sections-logo-clouds.svg?sanitize=true" alt="w-280 x h-140" class="w-full rounded-lg shadow-xs">
              <figcaption class="flex justify-between items-center p-4">
                <p class="font-medium text-gray-800">Showcase</p>
                <p class="bg-gray-200 py-px px-4 text-xs rounded-full">1</p>
              </caption>
              <!-- Whiten hover effect -->
              <div class="absolute bg-white rounded-lg inset-0 opacity-0 transition-opacity duration-150 ease-out hover:opacity-25"></div>
            </figure>
          </a>
        </div>
        <!-- End - card component -->

        <!-- Card - component -->
        <div class="w-full px-3 pb-6 sm:w-1/2 lg:w-1/3">
          <a href="#">
            <figure class="relative bg-white rounded-lg transition-shadow ease-out duration-200 shadow hover:shadow-md">
              <img src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/Components%20thumbnails/sections-cta-sections.svg?sanitize=true" alt="w-280 x h-140" class="w-full rounded-lg shadow-xs">
              <figcaption class="flex justify-between items-center p-4">
                <p class="font-medium text-gray-800">CTA</p>
                <p class="bg-gray-200 py-px px-4 text-xs rounded-full">1</p>
              </caption>
              <!-- Whiten hover effect -->
              <div class="absolute bg-white rounded-lg inset-0 opacity-0 transition-opacity duration-150 ease-out hover:opacity-25"></div>
            </figure>
          </a>
        </div>
        <!-- End - card component -->

      </div>
      <!-- End - cards container -->
      
    </div>
  </section>
  <!-- End - showcase component -->



  
<!-- ============================================================================= -->
</body>
</html>