<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer with copyright & creator</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->




<div class="h-screen flex">
  <main class="max-w-6xl mx-auto p-6">
    <img class="mt-10 max-w-2xl" src="https://raw.githubusercontent.com/NLNT/Mochi-UI/master/img/404.svg?sanitize=true" alt="404 illustration - src: Undraw">
    <p class="text-center text-3xl sm:text-2xl font-medium text-gray-800 py-8">Sorry, but we can't find what you are looking for.</p>
    <a class="flex items-center justify-center text-lg font-medium text-indigo-600 hover:underline" href="#">
      <span><svg class="w-5 h-5 mr-2 stroke-current text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs/><path d="M15 19l-7-7 7-7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" fill="none"/></svg></span> 
      Take me back to homepage
    </a>
  </main>
</div>



<!-- ============================================================================= -->

