<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer with copyright & creator</title>
    <!-- Tailwind CSS link -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<!-- ============================================================================= -->



  <!-- Footer -component -->
  <footer>
    <div class="max-w-6xl mx-auto text-gray-600 p-6 flex flex-col justify-between items-center sm:flex-row">
      <p class="pb-2 sm:pb-0">&copy; 2020 All rights reserved</p>
      <p>A project by <span class="font-semibold hover:underline"><a href="#">Author</a></span></p>
    </div>
  </footer>
  <!-- End - footer component -->
  


<!-- ============================================================================= -->
</body>
</html>  
  